	<footer class="cf">

		<div class="footer-inside center-global cf">

			<div class="contact-footer cf">

				<h2>Contact Me</h2>
				<ul>
					<li><a href="mailto:chrisjohnjewell@gmail.com">email</a></li>
					<li><a href="http://www.facebook.com/knightstick">facebook</a></li>
					<li><a href="http://www.codecademy.com/users/knightstick">codecademy</a></li>
					<li><a href="http://www.codewars.com/users/knightstick">codewars</a></li>
					<li><a href="https://github.com/knightstick">github</a></li>
				</ul>

			</div>

			<div class="copyright">
				<p>Copyright Chris Jewell 2014</p>
			</div> <!-- copyright -->

		</div> <!-- footer-inside -->

	</footer>