<header>

	<div class="header-inside center-global">

			
		<a href="{{ site.url }}" class="logo-link">
			<img src="{{ site.url }}/img/cj.jpg" alt="CJ #Selfie" class="logo">
		</a>

		<h1>Chris Jewell's Blog</h1>
	</div> <!-- header inside -->
		
	<div class="navbar center-global">
		<nav class="center-global">
 			<ul class="center-global">
 				<li><a href="{{ site.url }}/">Home</a></li>
 				<li><a href="{{ site.url }}/blog/">Blog</a></li>
 				<li><a href="{{ site.url }}/about/">About Me</a></li>
 				<li><a href="{{ site.url }}/contact/">Contact Me</a></li>
			</ul>
		</nav>
	</div> <!-- navbar -->

</header>