<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  
    <title>{{ site.name }}|{{page.title}}</title>
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">


    <!-- Custom Fonts
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Skranji' rel='stylesheet' type='text/css'> -->
  </head>
  
  <body>

    {% include header.html %}

    <div class="main cf center-global">
      <div class="content">
        {% if page.image %}
        <div class="thumb">
          <a href="{{site.url}}{{page.image}}" alt="{{page.image-caption}}">
            <img src="{{site.url}}{{ page.image-thumb }}">
          <div class="thumb-caption">
            {{page.image-caption}}
          </div>
          </a>    
        </div>
        {% endif %}

        {{ content }}

      </div><!-- content -->
    </div>

    {% include footer.html %}

  </body>
</html>



